//font

$main-font: "OpenSans", Arial, Helvetica, sans-serif;

$light: 300;
$regular: 400; 
$bold: 700;

// colors

$bg-nav:#00000030;
$bg-mobile-nav--opened: #283645;
$bg-mobile-hero-image: #1d2631;
$hover: #d22856;
$bg-section: #f2f2f2;
$bg-radio-indicator: #bec2c7;

// viewport

$tablet: 660px;
$desktop: 960px;