.contacts, .contacts__header {
    font-size: 24px;
    line-height: auto;
    font-style: normal;
    font-weight: $light;
    font-family: $main-font;
    text-align: center;

    color: $bg-mobile-nav--opened;
}

.contacts {
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;

    &::after {
        content: "";
        width: 0;
        height: 0;
        margin: 0 auto;
        border-left: 160px solid transparent;
        border-right: 160px solid transparent;
        border-top: 30px solid #ffffff;
    }
}

.contacts .container {
    padding-top: 40px;
    padding-bottom: 80px;

    background-color: #ffffff;
}

.contacts__table {
    width: 100%;
}

.contacts__table tbody {
    display: flex;
    flex-direction: column;

    & tr:nth-child(2) {
        order: 2;
    }
    
}

.contacts__table tr {
    display: flex;
    flex-direction: column;
}

.contacts__table-first-row {
    font-size: 18px;
    font-weight: $bold;

    margin-top: 24px;
}

.contacts__table-second-row, 
.contacts__table-second-row a{
    color: $hover;

    text-decoration: none;
}

.contacts__mail-link {
    transition: .2s;

    &:hover {
        text-decoration: underline;

        color: $bg-mobile-nav--opened;
    }

    &:active {
        opacity: .3;
    }
}

@media (min-width: $tablet) {
    .contacts {
        &::after {
            border-left: 330px solid transparent;
            border-right: 330px solid transparent;
            border-top: 60px solid #ffffff;
        }
    }

    .contacts__header {
        font-size: 40px;
        line-height: 46px;
    }

    .contacts__table tbody {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .contacts__table tr {
        margin: 0 40px;
    }
}

@media (min-width: $desktop) {
    .contacts {
        &::after {
            border-left: 480px solid transparent;
            border-right: 480px solid transparent;
            border-top: 80px solid #ffffff;
        }
    }

    .contacts__header {
        font-size: 50px;
        line-height: 56px;
    }

    .contacts__table tbody {
        & tr:nth-child(2) { 
            margin-left: 65px;
            order: 0;
        }
    }
}