.information__tagline {
    padding: 8px 0 ;
    font-size: 24px;
    line-height: auto;
    font-style: normal;
    font-weight: $light;
    font-family: $main-font;
    text-align: center;

    color: $bg-mobile-nav--opened;
}

.information__tagline-wrapper {
    &::after {
        @include beveled-bg;
    }
}

.information__list-wrapper {
    display: flex;
    flex-direction: column;
    background-color: $bg-section;
}

.information__list-wrapper .container {
    display: flex;
    flex-direction: column;

    &::after {
        content: "";

        display: block;
        height: 278px;
        width: 158px;
        margin: 0 auto;

        background-image: url(../images/iphone-screen-mobile.png);
        background-repeat: no-repeat;
    }  
}

.information__list {
    margin-top: 46px !important;
    margin-bottom: 42px !important;
}

@media (min-width: $tablet) {
    .information__tagline {
        font-size: 40px;
        line-height: 46px;
    }

    .information__list-wrapper .container{
        flex-direction: row;

        margin-top: -46px;

        &::after {
            align-self: flex-end;

            width: 270px;
            height: 480px;
            margin-left: 0;
            margin-right: auto;

            background-image: url(../images/iphone-screen-tablet-1@1x.png);
        }
    }

    .information__list {
        order: 2;

        width: calc( 100vw - 344px);
        max-width: 420px;
        margin-bottom: 0px !important;
        
        text-align: left !important;
    }
}