.map {
    display: flex;
    justify-content: center;

    margin: 0 auto;
    margin-top: -500px;
    max-width: 960px;

    cursor: pointer;

    & img {
        display: block;
    }
}

@media (min-width: $desktop) {
    .map {
        margin-top: -400px;
    }
}