.reviews {
    overflow: hidden;
    
    &::after {
        @include beveled-bg;
    }
}

.reviews__list {
    text-align: center;
}
.reviews__reviewer-name {
    margin-bottom: 0;

    font-size: 18px;
    line-height: 30px;
    font-style: normal;
    font-weight: $bold;
    font-family: $main-font;
}

.reviews__reviewer-info {
    display: none;
}

.reviews__review{
    &::before {
        content: "«";
    }

    &::after {
        content: "»";
    }
}

@media (min-width: $tablet) {
    .reviews {
        padding-top: 20px;
    }

    .reviews__reviewer-info {
        display: block;
    }

    .reviews__reviewer-name {
        font-size: 20px;
        line-height: 30px;
    }

    .reviews__review {
        order: -2;

        font-size: 18px;
        line-height: 30px;
    }
}

@media (min-width: $desktop) {
    .reviews {
        padding-top: 40px;
    }

    .reviews__list {
        margin-bottom: 30px !important;
    }
    
    .reviews__reviewer-name {
        font-size: 24px;
    }

    .reviews__reviewer-info {
        font-size: 18px;
    }
}