.slider {
    padding-top: 28px;
}

.slider .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider__button {
    display: none;
}

.slider__radio-indicator-wrapper {
    order: 2;

    margin-top: 22px;
}

.slider__list {
    padding: 0;
    margin: 0;

    list-style: none;
}

.slider__item {
    display: none;
}

.slider__item--active {
    display: flex;
    flex-direction: column;
}

@media (min-width: $desktop) {
    .slider .container {
        flex-direction: row;
        justify-content: space-between;
    }

    .slider__button {
        display: block;
        width: 29px;
        height: 41px;
        border: none;

        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center;

        opacity: .3;

        transition: .2s;

        cursor: pointer;
        
        &:first-of-type {
            background-image: url(../svg/icon-review-arrow-left.svg);
        }

        &:last-of-type {
            order: 3;

            background-image: url(../svg/icon-review-arrow-right.svg);
        }

        &:hover {
            opacity: .6;
        }

        &:active {
            opacity: .1;
        }
    }

    .slider__radio-indicator-wrapper {
        display: none;
    }

    .slider__list {
        width: 694px;

        &::before {
            content: "";

            display: block;
            height: 64px;
            margin-bottom: 34px;

            background-position: center;
            background-repeat: no-repeat;
            background-image: url(../svg/icon-quotes.svg);
        }
    }
}